[Unit]
Description=Update World of Tanks statistics

[Service]
User=wotstats
Type=oneshot
WorkingDirectory=/usr/local/share/wotstats2
ExecStart=python -m wotstats.scrape \
    --realm eu \
    --app-id d1e3a3d7b1e3e3f7d1e3a3d7b1e3e3f7 \
    --account-id 133773311 \
    --account-id 733113377 \
    --output /var/local/wotstats2.csv \
    --log-level INFO

